.cardsList {
    display: flex;
    flex-wrap: wrap;
}

.cardsList a {
    text-decoration: none;
}

.cardsList .card {
    max-width: 18rem;
    margin: 1rem;
    transition: all 0.2s;
}
.cardsList .card-body {
    color: #000;
    height: 250px;
}
.cardsList .card:hover {
    scale: 1.1;
}
.cardsList .card footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsList .rounded-pill {
    height: 20px;
}

.cardsList .card .badge {
    border: 1px solid black;
    cursor: pointer;
}


.dot-cont {
    display: grid;
    width: 45px;
    font-size: 10px;
    margin: 10px 0;
}
.dot-cont p {
    margin: auto;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}
