.splash {
    display: flex;
    justify-content: center;
}

.splash .introContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    max-width: 30vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.splash .introContainer h1 {
    color: #32a58e;
}

.splash .introContainer h2 {
    font-weight: 400;
}

.splash .introContainer button {
    background-color: #e3852e;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: white;
    width: 60%;
}

.splash .splashImgContainer {
    display: flex;
    max-width: 60vw;
}

.splash .splashImgContainer img {
    width: 100%;
}
