.splash {
    display: flex;
}

.splash .introContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    max-width: 50%;
}
.introContainer .messageBox {
}

.splash .introContainer h1 {
    color: #32a58e;
}

.splash .introContainer h2 {
    font-weight: 400;
}

.splash .introContainer button {
    background-color: #e3852e;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: white;
    width: 60%;
}

.splashImg {
    width: 50%;
    z-index: -100;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 730px;
}
