.historyCard {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 25%;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}

.historyCard .top {
    display: flex;
}

.historyCard .top .completionCircle {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3e5d8;
    border: 5px solid transparent;
    border-radius: 50%;
    padding: 0.5rem;
    padding-bottom: 0.75rem;
    background: linear-gradient(#f3e5d8, #f3e5d8) padding-box,
        linear-gradient(0.75turn, #e3852e, #e3852e00) border-box;
}

.historyCard .top .completionCircle p {
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.historyCard .top .info p {
    font-weight: 800;
}

.historyCard .bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.historyCard .bottom .points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyCard .bottom .videos {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.historyCard img {
    width: 25px;
    height: 25px;
}
